
    <div id="wrap">

    <div class="container">

      
      
<% @users.each do |user| %>

<div class="row">
<%= user.email %> |
      <%= user.username %>
  </div>
   <% end %>
      <h1>User Count:  <%= User.count %></h1>
          </div>
  </div>
